### DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [1]:
# 
import pandas as pd

In [3]:
# 데이터 준비
jumsu ={'국어' : [89,91], '수학': [88,90],'음악':[100,98] }

In [6]:
# DF로 데이터 저장
df1 =pd.DataFrame(jumsu,index=['a','b'])

In [7]:
print(df1)

   국어  수학   음악
a  89  88  100
b  91  90   98

- [속성으로 행 인덱스 변경] : 변수명.index = 새로운 인덱스

In [8]:
df1.index = ['마징가','홍길동']

In [9]:
print(df1)

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [10]:
# 컬럼 인덱스 ===> '국어','미술','과학'
df1.columns = ['국어','미술','과학']

In [11]:
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98

In [13]:
# 값을 저장하고 잇는 속성 ===> values
df1.values

array([[ 89,  88, 100],
       [ 91,  90,  98]], dtype=int64)

In [14]:
# values 값을 변경시키는 것은 불가능 
# 데이터 변경은 속성으로는 불가능
# df1.values([89,70,80],[30,45,70])

In [15]:
df1.shape
# 형태 변경은 속성으로는 불가능
# df1.shape(3,2)

(2, 3)