### [DataFrame의 인덱스 다루기 -1]
- 인덱스 종류 : 행 인덱스, 열 인덱스
- 특정 열을 행 인덱스 설정하는 방법
- 메서드 : df.set_index(열 인덱스,inplace = False)

In [11]:
# [1] 모듈 로딩
import pandas as pd

In [12]:
# [2] 데이터 준비
jumsu = {'이름':['마징가','태권v','원더우먼'],
         'kor': [89,100,90],
         'eng': [70, 80 ,90],
         'math' : [99,88,77]}

In [13]:
# [3] dict ==> DataFrame 형태로 저장
jumsuDF = pd.DataFrame(jumsu)

In [14]:
jumsuDF

     이름  kor  eng  math
0   마징가   89   70    99
1   태권v  100   80    88
2  원더우먼   90   90    77

In [15]:
# [4] name 컬럼을 행 인덱스 설정
DF2 = jumsuDF.set_index('이름')

In [16]:
DF2

      kor  eng  math
이름
마징가    89   70    99
태권v   100   80    88
원더우먼   90   90    77

In [18]:
# DF2 데이터프레임의 행 인덱스/열 인덱스 확인
print(DF2.index,DF2.columns,sep='\n')

Index(['마징가', '태권v', '원더우먼'], dtype='object', name='이름')
Index(['kor', 'eng', 'math'], dtype='object')

In [20]:
# [5] 데이터 추출
# - 마징가의 성적을 추출 즉, 행 추출 ==> 변수명,loc[],변수명iloc[]
DF2.loc['마징가']

kor     89
eng     70
math    99
Name: 마징가, dtype: int64

In [21]:
DF2.iloc[0]

kor     89
eng     70
math    99
Name: 마징가, dtype: int64

In [23]:
# - 마징가,원더우먼의 성적을 추출 즉, 행 추출
DF2.loc[['마징가','원더우먼']]

      kor  eng  math
이름
마징가    89   70    99
원더우먼   90   90    77

In [24]:
## [6] 영어 점수 컬럼을 행 인덱스 설정
df3 = jumsuDF.set_index('eng')

In [25]:
df3

       이름  kor  math
eng
70    마징가   89    99
80    태권v  100    88
90   원더우먼   90    77

In [26]:
## 이름, eng 컬럼을 행 인덱스 설정
df4 = jumsuDF.set_index(['이름','eng'])

In [27]:
df4

          kor  math
이름   eng
마징가  70    89    99
태권v  80   100    88
원더우먼 90    90    77

In [28]:
df4.index

MultiIndex([( '마징가', 70),
            ( '태권v', 80),
            ('원더우먼', 90)],
           names=['이름', 'eng'])

In [30]:
## 멀티인덱스에서 행 추출
df4.loc[('마징가',70)]

kor     89
math    99
Name: (마징가, 70), dtype: int64