### [DataFrame의 인덱스 다루기 -4]
- 인덱스 정렬하기
- 기본 : 오름차순 정렬
- 메서드 : sort_index()

In [25]:
# [1]
import pandas as pd

In [26]:
# [2]
data ={'a':[98,78,100,52]}

In [27]:
# [3]
DF = pd.DataFrame(data,index = [9,12,1,3])
DF

      a
9    98
12   78
1   100
3    52

In [28]:
# [4] 행 인덱스 정렬
# - 기본 : 오름차순 정렬 즉, 작은 인덱스 >>> 큰 인덱스
DF2 = DF.sort_index()
DF2

      a
1   100
3    52
9    98
12   78

In [29]:
# - 기본 : 내림차순 정렬 즉, 큰 인덱스 >>> 작은 인덱스
DF3 = DF.sort_index(ascending=False)
DF3

      a
12   78
9    98
3    52
1   100

In [30]:
# [5] 행 인덱스 변경 후 정렬
# 현재 [12,9,3,1] ==> [A,B,C,D]
DF.index = ['A','B',"c","D"]
DF4 = DF.sort_index()
DF4

     a
A   98
B   78
D   52
c  100

In [33]:
DF5 = DF.sort_index(key = lambda x: x.str.lower())
DF5

     a
A   98
B   78
c  100
D   52