### [Series 연산 2]
- 원소값이 비어 있는 경우
- 인덱스가 서로다른 Series의 경우

In [69]:
# [1]
import pandas as pd
import math
import numpy as np

In [70]:
# 빈칸 즉 ,비어잇다는 의미를 나타내는 문자 ==?> pandas에 없음
# math 모듈과 numpy 패키지를 사용
math.nan,np.nan

(nan, nan)

In [71]:
# [2]
bibibig = [13,600,np.NaN,1500]
merona = [32,700,1500,1500]

In [72]:
# [3] 
sr1 = pd.Series(bibibig)
sr2 = pd.Series(merona,dtype='int16')

In [73]:
print(sr1,sr2, sep ='\n\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

0      32
1     700
2    1500
3    1500
dtype: int16

In [74]:
# [4-1] 연산 수행 : Series + 숫자
# - 산술 연산
sr1 % 5

0    3.0
1    0.0
2    NaN
3    0.0
dtype: float64

In [75]:
# - 비교 연산
sr1 >= 5

0     True
1     True
2    False
3     True
dtype: bool

In [76]:
# [4-2] 연산 수행 : Series + Series
# - 산술 연산
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [77]:
# - 나눗셈 연산
sr1 != sr2

0     True
1     True
2     True
3    False
dtype: bool

In [78]:
# - 비교 연산
sr1 <= sr2

0     True
1     True
2    False
3     True
dtype: bool

In [79]:
# - 비교 연산
sr1 == sr2

0    False
1    False
2    False
3     True
dtype: bool

In [80]:
# [5] sr2 인덱스가 다른 Series끼리 연산 수행
# - sr3 생성 : sr2에서 인덱스 변경 [0,1,2,3] ==> [0,2,3,4]

sr3 = sr1.index =[0,2,3,4]

In [81]:
sr3

[0, 2, 3, 4]

In [82]:
sr2

0      32
1     700
2    1500
3    1500
dtype: int16

In [83]:
sr1

0      13.0
2     600.0
3       NaN
4    1500.0
dtype: float64

In [84]:
# - 산술연산 
sr1 + sr3

0      13.0
2     602.0
3       NaN
4    1504.0
dtype: float64

In [85]:
# 비교 연산 : Error 발생
# sr1>sr2

In [86]:
sr2 = sr2.reset_index(drop=True)

In [87]:
sr2

0      32
1     700
2    1500
3    1500
dtype: int16

In [88]:
sr1 = sr1.reset_index(drop=True)

In [89]:
sr1

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64

In [90]:
sr1 > sr2

0    False
1    False
2    False
3    False
dtype: bool

In [91]:
# [5] Nan에 대한 연산 수행을 못하는 것 해결 위한 메서드 제공
# - fill_value : 빈 칸 즉, NaN에 값을 지정
sr1.add(sr2,fill_value=-1.)

0      45.0
1    1300.0
2    1499.0
3    3000.0
dtype: float64

In [95]:
# - 인덱스가 다른 Series 연산에서 메서드 사용
sr1.add(sr2,fill_value=0.0)

0      45.0
1    1300.0
2    1500.0
3    3000.0
dtype: float64