#### [Series $ DataFrame 연산]

In [69]:
# [1]
import pandas as pd

In [70]:
file_name = 'data1.csv'

In [71]:
# [3] CSV File ==> DataFrame 형태 저장
csvdf = pd.read_csv(file_name,header= None)

In [72]:
csvdf

    0   1   2
0  10  20  30
1  90  89  94
2  59  56  22
3  90  45  78
4   5   5   5

In [73]:
# [4] 연산 실습
#  컬럼을 덧셈 연산 수행
result = csvdf[0] +csvdf[1]+ csvdf[2]

In [74]:
csvdf['total'] = result

In [75]:
csvdf

    0   1   2  total
0  10  20  30     60
1  90  89  94    273
2  59  56  22    137
3  90  45  78    213
4   5   5   5     15

In [76]:
# 행 5 추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
result2 = csvdf.loc[0] + csvdf.loc[1] +csvdf.loc[2] +csvdf.loc[3] +csvdf.loc[4]

In [77]:
result2

0        254
1        215
2        229
total    698
dtype: int64

In [78]:
csvdf.loc[5] = result2

In [79]:
csvdf

     0    1    2  total
0   10   20   30     60
1   90   89   94    273
2   59   56   22    137
3   90   45   78    213
4    5    5    5     15
5  254  215  229    698

In [80]:
# [5] 연산 수행 매서드 : 합계 sum(),최대값 max(),최소값 min()
SR0 =csvdf[0]
print('합계',SR0.sum())
print('최대값',SR0.max())
print('최소값',SR0.min())

합계 508
최대값 254
최소값 5

In [81]:
# DataFrame으로 연산수행 메서드
csvdf

     0    1    2  total
0   10   20   30     60
1   90   89   94    273
2   59   56   22    137
3   90   45   78    213
4    5    5    5     15
5  254  215  229    698

In [82]:
# DataFrame 합계 계산
print('합계',csvdf.sum(),sep = '\n') # 각 행 데이터를 모아서 합계 수행, 그래서 컬럼마다 행들을 모아서 합계 수행

합계
0         508
1         430
2         458
total    1396
dtype: int64

In [83]:
# 각 컬럼 데이터를 모아서 합계 수행,그래서 행 마다 컬럼들을 모아서 합계 수행
print('합계',csvdf.sum(axis = 1),sep = '\n')

합계
0     120
1     546
2     274
3     426
4      30
5    1396
dtype: int64

In [84]:
# DataFrame 최대값 계산
print('최대값',csvdf.max(),sep = '\n')
print()
print('최대값',csvdf.max(axis =1),sep = '\n')

최대값
0        254
1        215
2        229
total    698
dtype: int64

최대값
0     60
1    273
2    137
3    213
4     15
5    698
dtype: int64

In [85]:
# DataFrame 최소값 계산
print('최소값',csvdf.min(),sep = '\n')
print()
print('최소값',csvdf.min(axis =1),sep = '\n')

최소값
0         5
1         5
2         5
total    15
dtype: int64

최소값
0     10
1     89
2     22
3     45
4      5
5    215
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출을 함께 진행

In [88]:
# Total이 100 이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Boolean Index
bool_index = csvdf.total > 100

In [90]:
# Boolean Index 즉, 인덱스로 특정 데이터 추출에 사용 가능
# csvdf[컬럼인덱스], csvdf.iloc[행인덱스], csvdf.loc[행인덱스]
csvdf[bool_index]

     0    1    2  total
1   90   89   94    273
2   59   56   22    137
3   90   45   78    213
5  254  215  229    698