In [1]:
import pandas as pd

In [2]:
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(data= ['www','cccc'],index =['person','who'])
print(s)

person     www
who       cccc
dtype: object

In [6]:
scientists = pd.DataFrame({
    'name' : ['rosaline franklin','william gosset'],
    'occupation':['chemist','statistician'],
    'born' : ['1920-07-25','1876-06-13'],
    'died' : ['1958-04-16','1937-10-16'],
    'Age':[37,61],
})
print(scientists)

                name    occupation        born        died  Age
0  rosaline franklin       chemist  1920-07-25  1958-04-16   37
1     william gosset  statistician  1876-06-13  1937-10-16   61

In [9]:
scientists = pd.DataFrame(
    data = {
    'occupation':['chemist','statistician'],
    'born' : ['1920-07-25','1876-06-13'],
    'died' : ['1958-04-16','1937-10-16'],
    'Age':[37,61]
    },
    index = ['rosaline franklin','william gosset'],
    columns= ['occupation','born','died','Age'],
)

In [10]:
print(scientists)

                     occupation        born        died  Age
rosaline franklin       chemist  1920-07-25  1958-04-16   37
william gosset     statistician  1876-06-13  1937-10-16   61