### [그룹화 처리]
- 주제 : 타이타닉에서 선실에 등급에 따른 생존 비율을 분석

In [26]:
import pandas as pd

In [27]:
file = r'C:\Users\a\Desktop\EX_PANDAS\DAY_06\titanic.csv'

In [28]:
df1 = pd.read_csv(file)

In [29]:
pclass_survived_df = df1.loc[:,['pclass','survived']]

In [30]:
pclass_survived_df

     pclass  survived
0         3         0
1         1         1
2         3         1
3         1         1
4         3         0
..      ...       ...
886       2         0
887       1         1
888       3         0
889       1         1
890       3         0

[891 rows x 2 columns]

In [31]:
pclass_survived_df.isna().sum()

pclass      0
survived    0
dtype: int64

In [32]:
group_PS = pclass_survived_df.groupby('pclass')

In [33]:
group_PS

In [34]:
print(group_PS.groups.keys())
print(group_PS.groups.values())

dict_keys([1, 2, 3])
dict_values([Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
       ...
       853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
      dtype='int64', length=216), Index([  9,  15,  17,  20,  21,  33,  41,  43,  53,  56,
       ...
       848, 854, 861, 864, 865, 866, 874, 880, 883, 886],
      dtype='int64', length=184), Index([  0,   2,   4,   5,   7,   8,  10,  12,  13,  14,
       ...
       875, 876, 877, 878, 881, 882, 884, 885, 888, 890],
      dtype='int64', length=491)])

In [35]:
len(group_PS.get_group(3))

491

In [36]:
print(len(group_PS.get_group(1)['survived']))
print(group_PS.get_group(2)['survived'].sum())
print(group_PS.get_group(3)['survived'].sum())

216
87
119

In [37]:
print(len(group_PS.get_group(3)['pclass']))

491

In [38]:
list = []
for i in range(3):
    list2 =[]
    list2.append(len(group_PS.get_group(i+1)))
    list2.append(group_PS.get_group(i+1)['survived'].sum())
    list2.append(round((group_PS.get_group(i+1)['survived'].sum()/len(group_PS.get_group(i+1))) * 100,3))
    list.append(list2)

In [39]:
list

[[216, 136, 62.963], [184, 87, 47.283], [491, 119, 24.236]]

In [40]:
df = pd.DataFrame(list, index= ['1등급','2등급','3등급'],columns=['총인원','생존자','비율'])

In [41]:
df

     총인원  생존자      비율
1등급  216  136  62.963
2등급  184   87  47.283
3등급  491  119  24.236

- 사용자 정의 함수 지정하기

In [64]:
def myfunc(obj):
    return obj.max()

In [65]:
resultDF = group_PS.agg(['sum','count',myfunc])

In [72]:
resultDF = group_PS.agg(['sum','count',lambda x:x.mean(),myfunc])

In [83]:
resultDF.columns
resultDF.columns = ['총인원','생존자','비율','-']

In [84]:
resultDF

        총인원  생존자        비율  -
pclass
1       136  216  0.629630  1
2        87  184  0.472826  1
3       119  491  0.242363  1