#### [멀티인덱스]
- 2개 이상의 행과 열로 구성된 인덱스

In [156]:
# [1]
import pandas as pd
import df_util as util

In [157]:
# [2]
file1 = r'C:\Users\a\Desktop\EX_PANDAS\DAY_06\test_data.csv'
file2 = r'C:\Users\a\Desktop\EX_PANDAS\DAY_06\test_data2.csv'

In [158]:
# [3]
df1 =pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [159]:
#[4] 데이터 확인
util.checkDataFrame(df1,df1)

[  index  col1  col2  col3
0     A     8     6     5
1     C     8     4     3
2     C     8     2     0
3     A     1     8     7
4     B     2     0     7
5     B     4     2     4
6     C     8     8     6
7     C     5     5     6
8     B     3     3     6
9     A     3     1     4]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')

In [160]:
util.checkDataFrame(df2,df2)

[    lv0   lv1 lv2  col1  col2  col3
0  idx1  row1   a     6     6     4
1  idx1  row2   a     1     2     0
2  idx2  row1   b     4     7     4
3  idx2  row2   c     0     1     0
4  idx2  row3   c     0     6     2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
[columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')

In [161]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1,컬럼2])
df11 = df1.set_index(['index'])
df11.index.name =None
print(df11.index)

#'A' 행 데이터 추출
print(df11.loc['A'])

Index(['A', 'C', 'C', 'A', 'B', 'B', 'C', 'C', 'B', 'A'], dtype='object')
   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [162]:
# 'A', 'C' 행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [163]:
# [5-1] df1의 첫번째,두번째 컬럼을 행 인덱스로 설정 ==> set_index([컬럼1,컬럼2])
df12 = df1.set_index(['index','col1'])
print(df12.index)

# '('A', 8)' 행 추출
df12.loc[('A', 8)]

MultiIndex([('A', 8),
            ('C', 8),
            ('C', 8),
            ('A', 1),
            ('B', 2),
            ('B', 4),
            ('C', 8),
            ('C', 5),
            ('B', 3),
            ('A', 3)],
           names=['index', 'col1'])

C:\Users\a\AppData\Local\Temp\ipykernel_7084\772053415.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A', 8)]

            col2  col3
index col1
A     8        6     5

In [164]:
df12.loc[[('A', 8),('C', 8)]]

            col2  col3
index col1
A     8        6     5
C     8        4     3
      8        2     0
      8        8     6

In [173]:
# 멀티인덱스 속성들 확인
mIdx = df12.index

print(f'nlevels : {mIdx.nlevels}')

print(f'levels : {mIdx.levels}')

print(f'names : {mIdx.names}')

mIdx.names =[None,None]

print(f'names : {mIdx.names}')

mIdx.names =[0,None]
mIdx.set_names('a',level=0)
mIdx.names

print(f'names : {mIdx.names}')

nlevels : 2
levels : [['A', 'B', 'C', 'D'], [1, 2, 3, 4, 5, 8, 9]]
names : [0, None]
names : [None, None]
names : [0, None]

In [166]:
df12

     col2  col3
0
A 8     6     5
C 8     4     3
  8     2     0
A 1     8     7
B 2     0     7
  4     2     4
C 8     8     6
  5     5     6
B 3     3     6
A 3     1     4

In [167]:
# 멀티인덱스에서 level0이 동일한 행 추출
# - 'A' 
df12.loc['A']

   col2  col3
8     6     5
1     8     7
3     1     4

In [168]:
# 멀티인덱스에서 level1이 동일한 행 추출
# - 8
# df12.loc[8] # Error 발생
df12.xs(8,level=1)

   col2  col3
0
A     6     5
C     4     3
C     2     0
C     8     6

In [169]:
# 멀티인덱스에서 행 추가
# - 인덱스에 행 추가 => 변수명.loc[행인덱스] =값

df12.loc[('D',9),:] = [2,5]

C:\Users\a\AppData\Local\Temp\ipykernel_7084\2206934649.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9),:] = [2,5]
C:\Users\a\AppData\Local\Temp\ipykernel_7084\2206934649.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9),:] = [2,5]

In [170]:
df12

     col2  col3
0
A 8   6.0   5.0
C 8   4.0   3.0
  8   2.0   0.0
A 1   8.0   7.0
B 2   0.0   7.0
  4   2.0   4.0
C 8   8.0   6.0
  5   5.0   6.0
B 3   3.0   6.0
A 3   1.0   4.0
D 9   2.0   5.0

In [177]:
sr1 = pd.Series({'col2':6,'col3':0},name = 'abc' )
sr1.index = ['E',9]
sr1

E    6
9    0
Name: abc, dtype: int64

In [178]:
df12.loc[('F',20),:] = [sr1]

C:\Users\a\AppData\Local\Temp\ipykernel_7084\50958571.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('F',20),:] = [sr1]
C:\Users\a\AppData\Local\Temp\ipykernel_7084\50958571.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('F',20),:] = [sr1]

In [179]:
df12

      col2  col3
0
A 8    6.0   5.0
C 8    4.0   3.0
  8    2.0   0.0
A 1    8.0   7.0
B 2    0.0   7.0
  4    2.0   4.0
C 8    8.0   6.0
  5    5.0   6.0
B 3    3.0   6.0
A 3    1.0   4.0
D 9    2.0   5.0
F 20   6.0   0.0